.taskOutput {
    border-style:solid;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    border-color: chocolate;
}

.taskHistory {
    border-style:solid;
    margin: 10px;
    border-color: blue;
}

.taskSavings {
    border-style:solid;
    border-color: aquamarine;
}

.taskInputSection {
    display: flex;
    justify-content: right;
}

#CreateProfileForm {
    margin:0.8rem;
    align-content:center;
}
#CreateProfileForm>input{
    
}
#CreateProfileForm>button{
    margin:0.8rem;
}

.ToDo-Container {
    display: flex;
  flex-wrap: wrap;
}
.ToDo-Container > div{
    border-style:solid;
    border-radius: 0.5rem;
    margin: 10px;
    border-color: rgb(0, 0, 0);
}